@media(min-width: 992px)
	.btn
		transition: all .3s ease
		&:hover
			background: linear-gradient(180deg, #E2CA71 -144.43%, #C6A238 38.55%)
		&--small:hover
			background: #3D9349
		&--thin:hover
			background: $green
			color: #fff
			&:before
				color: inherit
	.doc-card
		&__pic
			transition: all .3s ease
			&:before,
			&:after
				transition: inherit
		&:hover &__pic
			&:before
				background-color: transparentize($green,.3)
			&:after
				color: #fff
@media(max-width:1199px)
	.wrapper
		max-width: 992px
  
@media(max-width:991px)
	

//@media(max-width:767px)
	

//@media(max-width:480px)
	
