@font-face {
	font-family: 'Oswald';
	src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
			url('../fonts/oswald/Oswald-ExtraLight.woff2') format('woff2'),
			url('../fonts/oswald/Oswald-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: local('Oswald Light'), local('Oswald-Light'),
			url('../fonts/oswald/Oswald-Light.woff2') format('woff2'),
			url('../fonts/oswald/Oswald-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: local('Oswald Regular'), local('Oswald-Regular'),
			url('../fonts/oswald/Oswald-Regular.woff2') format('woff2'),
			url('../fonts/oswald/Oswald-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: local('Oswald Medium'), local('Oswald-Medium'),
			url('../fonts/oswald/Oswald-Medium.woff2') format('woff2'),
			url('../fonts/oswald/Oswald-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
			url('../fonts/oswald/Oswald-SemiBold.woff2') format('woff2'),
			url('../fonts/oswald/Oswald-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: local('Oswald Bold'), local('Oswald-Bold'),
			url('../fonts/oswald/Oswald-Bold.woff2') format('woff2'),
			url('../fonts/oswald/Oswald-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
/*ubuntu*/
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
			url('../fonts/ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Light'), local('Ubuntu-Light'),
			url('../fonts/ubuntu/Ubuntu-Light.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
			url('../fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
			url('../fonts/ubuntu/Ubuntu-Italic.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
			url('../fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
			url('../fonts/ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
			url('../fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
			url('../fonts/ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
			url('../fonts/ubuntu/Ubuntu-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
			url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
			url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Light'), local('Montserrat-Light'),
			url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
			url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
			url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
			url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
			url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
			url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Black'), local('Montserrat-Black'),
			url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
			url('../fonts/montserrat/Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}