$green: #4D9757
$text: #494949
=placeholder($color)
	&::-webkit-input-placeholder 
		color: $color
	&::-moz-placeholder 
		color: $color
	&:-ms-input-placeholder
		color: $color
		
=pos
	display: block
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	
=obj
	object-fit: cover
	object-position: center

=unlist
	list-style: none
	margin: 0
	padding: 0
	>li
		margin: 0

html
	box-sizing: border-box

*,:before,:after
	box-sizing: inherit
	flex: 0 1 auto

body
	margin: 0
	padding: 0 0 0 152px
	min-height: 100vh
	min-height: var(--w-height)
	font: normal normal 16px/1.3125 Ubuntu, sans-serif
	color: $text
img,
iframe,
video
	max-width: 100%
	user-select: none

a img
	border: none
a
	color: $green
	text-decoration: none

p
	margin: 0 0 15/16*1em
	&:last-child
		margin: 0
		
blockquote
	margin: 27/22*1em 0 1em
	font-size: 22px
	line-height: 29/22*1
	font-style: italic
	padding: 0 0 0 80px
	position: relative
	&:last-child
		margin-bottom: 0
	&:first-child
		margin-top: 0
	&:before
		content: '„'
		display: inline-block
		pointer-events: none
		font: normal 300 180px/1 Oswald,sans-serif
		color: #51B05E
		position: absolute
		bottom: calc(100% - 0.21em)
		left: 0
	p
		margin: 0 0 10/22*1em
		&:last-child
			margin-bottom: 0

*:focus
	outline: none

*:invalid
	box-shadow: none

/*элементы форм*/
input,textarea,button,select
	font: inherit
	color: inherit	
	
textarea
	resize: none
	overflow: auto
	
//select
	appearance: none
	padding: 10.5px 40px 10.5px 20px
	background: url(../img/icons/angle.svg) no-repeat right 19px center/11px auto
	&::-ms-expand
		display: none
		
//[type=search]
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration
		display: none
		
//[type=number]
	-moz-appearance: textfield
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button
		appearance: none
		margin: 0
		
.field
	display: block
	position: relative
	user-select: none
	text-align: left
	margin: 0 0 15px
	&:last-child
		margin-bottom: 0
	&__input,
	&__select
		margin: 0
	&__placeholder
		font-size: 16px
		color: #000
		line-height: normal
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		position: absolute
		top: 21px
		left: 25px
		width: calc(100% - 50px)
		transition: all .2s ease
		pointer-events: none
	&__input:focus + &__placeholder,
	&--fill &__placeholder
		font-size: 11px
		top: 4px
	&__description
		display: block
		font-size: 14px
		line-height: normal
		color: #ADADAD
		padding: 4px 25px
		
/*кнопки*/
button,
[type=submit],
[type=reset],
[type=image]
	cursor: pointer
.btn
	appearance: none
	display: inline-block
	vertical-align: top
	background: linear-gradient(180deg, #E2CA71 0%, #C6A238 100%)
	font: normal 500 16px/1.5 Ubuntu, sans-serif
	padding: 24px 50px
	color: #fff
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.246449)
	text-transform: uppercase
	border-radius: 100px
	text-align: center
	user-select: none
	box-shadow: 0px 3px 0px #967B12
	&--small
		background: #51B05E
		padding: 5px 12px
		border-radius: 4px
		font-weight: 400
		text-transform: none
		text-shadow: none
		box-shadow: none
		font-size: 12px
	&--thin
		border: 3px solid $green
		color: inherit
		background: none
		padding: 12px 35px
		box-shadow: none
		font-size: 14px
	&--white
		color: #fff
		border-color: #fff
	&--block
		display: block
		width: 100%
		padding-left: 7px
		padding-right: 7px
	&--question
		&:before
			content: ''
			font-family: "Font Awesome 5 Pro"
			font-size: 19/14*1em
			line-height: 19/25*1
			font-weight: 400
			color: $green
			vertical-align: text-top
			margin-right: 12/19*1em
			margin-left: -5/19*1em
	&--envelope
		&:before
			content: ''
			font-family: "Font Awesome 5 Pro"
			font-size: 19/14*1em
			line-height: 19/25*1
			font-weight: 400
			color: $green
			vertical-align: -0.1em
			margin-right: 12/19*1em
			margin-left: -5/19*1em

/*заголовки*/
h1,h2,h3,h4,h5,h6
	margin: 0 0 1em	
h1,h2
	font-family: Oswald,sans-serif
	font-weight: 300
	font-size: 48px
	b,strong
		font-weight: inherit
		color: $green
h1
	line-height: 68/48*1
	margin: 0 0 20/48*1em
	&:last-child
		margin-bottom: 0
h2
	line-height: 58/48*1
	margin: 0 0 16/48*1em
	&:last-child
		margin-bottom: 0
h3
	font-size: 24px
	line-height: 32/24*1
	margin: 0 0 4px
	font-weight: inherit
	&:last-child
		margin-bottom: 0
h4
	font-size: 20px
	line-height: 1.3
	font-weight: inherit
	margin: 0 0 17/20*1em
	&:last-child
		margin-bottom: 0
h5
	font-size: 12px
	line-height: 21/12*1
	font-weight: inherit
	margin: 0

/*списки*/
ul,ol
	margin: 0 0 1em
	&:last-child
		margin-bottom: 0
ul
	list-style-image: url(../img/icons/list-marker.svg)
	padding-left: 1.3em
	>li
		margin: 0 0 1em
		&:last-child
			margin-bottom: 0
		
/*таблицы*/
/*контейнеры*/
.wrapper
	max-width: 1215px
	padding: 0 65px
	margin: 0 auto
.box
	display: flex
	flex-wrap: wrap
	margin: 0 -10px
/*элементы слайдера*/
.slick-arrow
	display: inline-block
	vertical-align: top
	width: 52px
	height: 52px
	border: 3px solid $green
	border-radius: 50%
	color: #000
	text-align: center
	line-height: 46px
	font-size: 26px
	cursor: pointer

/*ОСНОВНОЕ СОДЕРЖИМОЕ*/
.logo
	display: inline-block
	img
		display: block
		width: 100%
.header
	position: fixed
	top: 0
	left: 0
	width: 152px
	height: 100%
	display: flex
	flex-direction: column
	overflow: auto
	color: #000
	border-right: 1px solid rgba(0,0,0,.1)
	&__logo
		padding: 12px 15px 18px 12px
		border-bottom: 1px solid rgba(0,0,0,.1)
		flex: 0 0 auto
	&__menu
		+unlist
		font: normal bold 18px/1.25 Oswald,sans-serif
		padding: 10px 0
		border-bottom: 1px solid rgba(0,0,0,.1)
		flex: 1 1 auto
		>li
			>a
				display: block
				color: inherit
				padding: 12px 15px
	&__contacts
		padding: 14px 12px
		border-bottom: 1px solid rgba(0,0,0,.1)
		flex: 0 0 auto
		text-align: center		
	&__phone
		color: inherit
		font-size: 18px
		font-family: Oswald
		&--mobile
			display: none
	&__status
		font-size: 12px
		margin: 7px 0
		&:before
			content: ''
			display: inline-block
			width: .75em
			height: .75em
			border-radius: 50%
			vertical-align: middle
			background-color: #51B05E
			margin: 0 .5em 0 0
	&__auth
		padding: 22px
		text-align: center
		border-bottom: 1px solid rgba(0,0,0,.1)
		font-size: 12px
		line-height: 14/12*1
		&-icon
			display: block
			color: $green
			font-size: 28px
			margin: 0 0 8px
		&-title
			font: normal bold 12px/1.42 Montserrat,sans-serif
			text-transform: uppercase
			color: #282828
			margin: 0 0 8px
			&:last-child
				margin-bottom: 0
.link-banner
	display: block
	background-color: #fff
	border-radius: 6px
	box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.115111)
	position: relative
	padding: 15px 30px
	display: flex
	align-items: center
	color: #191919
	&:before
		content: ''
		display: block
		border: 1px solid #D7BD62
		border-radius: inherit
		position: absolute
		top: 7px
		left: 7px
		width: calc(100% - 14px)
		height: calc(100% - 14px)
		pointer-events: none
	&__img
		width: 78px
		flex: 0 0 auto
		margin: 0 14px 0 0
	&__text
		display: block
		width: calc(100% - 92px)
		flex: 1 1 auto				
.top-block
	min-height: 100vh
	min-height: var(--w-height)
	padding: 100px 0
	position: relative
	background: 
		size: cover
		position: center
		repeat: no-repeat
	display: flex
	flex-direction: column
	color: #fff	
	&__wrapper
		width: 100%
		margin: auto 0
	&__text
		max-width: 770px
		padding-left: 90px
		font-size: 20px
		line-height: 1.3
		margin: 0 0 77px
		&:last-child
			margin-bottom: 0
		h1
			text-transform: uppercase
		ul
			+unlist
			padding-left: 2.15em
			>li
				position: relative
				margin: 0 0 .8em
				&:last-child
					margin-bottom: 0
				&:before					
					content: url(../img/icons/checkbox.svg)
					display: inline-block
					vertical-align: middle
					position: absolute
					left: -2.15em
	&__footer
		width: max-content
		max-width: calc(100% - 90px)
		text-align: center
		margin-left: 90px
	&__btn
		margin: 0 0 14px
		&:last-child
			margin-bottom: 0
	&__banner
		position: absolute
		bottom: 0
		right: 67px
		width: 417px
		border-bottom-right-radius: 0
		border-bottom-left-radius: 0
.info
	padding: 70px 0
	margin: 0 0 80px
	background: linear-gradient(to right,#f9f9f9 calc(50% + 300px),transparent calc(50% + 300px))
	&:last-child
		margin-bottom: 0
	&__wrapper
		display: flex
		align-items: flex-start
		justify-content: space-between
	&__text
		flex-basis: 540px
		margin-right: 30px
	&__img
		flex-basis: 451px
.infographics
	display: flex
	flex-wrap: wrap
	margin: 0 -20px
	&__item
		width: 240px
		margin: 0 20px 20px
		display: flex
		align-items: center
		line-height: normal
	&__img
		margin: 0 17px 0 0
.service-card
	width: calc(50% - 20px)
	margin: 0 10px 20px
	display: flex
	align-items: flex-start
	position: relative
	border: 1px solid transparentize($green,.8)
	border-radius: 5px
	padding: 36px 28px 30px
	color: #282828
	&__link
		+pos
	&__img
		width: 128px
		flex: 0 0 auto
		margin: 0 14px 0 0
	&__text		
		flex: 1 1 auto
		h4
			font-weight: bold
			margin: 0 0 8/20*1em
			&:last-child
				margin-bottom: 0
	&__content
		position: relative
		z-index: 1
		line-height: 24/16*1
	&__pseudo-link
		display: inline-block
		vertical-align: top
		color: $green
		text-transform: uppercase
		border-bottom: 1px dashed
		pointer-events: none
		margin: 37px 0 0
		font-family: Oswald
		font-weight: 400
		letter-spacing: .7/16*1em
.services
	padding: 60px 0 80px
	&__head
		margin: 0 0 30px
		&:last-child
			margin-bottom: 0
.about
	padding: 66px 0 77px
	background: url(../img/swamp-circle.svg) no-repeat right -75px top -80px,linear-gradient(to right, transparent calc(50% - 334px),#F9F9F9 calc(50% - 334px))
	margin: 0 0 80px
	&:last-child
		margin-bottom: 0
	&__wrapper
		display: flex
		align-items: center
	&__img
		width: 451px
	&__text
		width: 570px
		padding: 0 85px 0 71px
		h2
			margin: 0 0 14/48*1em
			&:last-child
				margin-bottom: 0
.step-card
	margin: 0 7px 14px
	background-color: rgba(255,255,255,.25)
	position: relative
	width: 352px
	padding: 27px 16px 29px 136px
	border-radius: 5px
	&--right-image
		padding-left: 40px
		padding-right: 112px
	&__img
		position: absolute
		right: 215px
		top: 50%
		pointer-events: none
		transform: translateY(-50%)
		&--left-bottom
			bottom: 0
			top: auto
			transform: none
		&--right
			right: auto
			left: 197px
		&--right-bottom
			left: 195px
			right: auto
			top: auto
			bottom: -32px
			transform: none
	&__index
		font: normal 300 48px/1.21 Oswald,sans-serif
		margin: 0 0 17/48*1em
		&:last-child
			margin-bottom: 0
	h4
		font-weight: bold
		text-transform: uppercase
		margin: 0 0 7/20*1em
		&:last-child
			margin-bottom: 0
.info-card
	margin: 0 7px 14px
	background-color: rgba(255,255,255,.25)
	position: relative
	width: 352px
	padding: 55px 16px 40px
	border-radius: 5px
	text-align: center
	&:before
		content: ''
		display: block
		position: absolute
		top: 10px
		left: 10px
		width: calc(100% - 20px)
		height: calc(100% - 20px)
		border: 1px solid rgba(255,255,255,.35)
		border-radius: inherit
		pointer-events: none
.scheme
	background-color: $green
	color: #fff
	padding: 55px 0
	margin: 0 0 80px
	&:last-child
		margin-bottom: 0
	&__head
		display: flex
		align-items: flex-start
		justify-content: space-between
		margin: 0 0 30px
		&:last-child
			margin-bottom: 0
	&__text
		flex: 0 1 620px
		padding-right: 10px
	&__box
		margin: 0 -7px
.person-card
	margin: 0 13px 55px
	background-color: #fff
	border-radius: 5px
	overflow: hidden
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0644121)
	display: flex
	color: #282828
	&__main
		width: 304px
		padding: 26px 23px 30px
		display: flex
		flex-direction: column
		h5
			color: #6a6a6a
		p
			margin: 0 0 5/16*1em
			&:last-child
				margin-bottom: 0
	&__text
		margin: 0 0 46px
	&__nav
		display: flex
		align-items: center
		flex-wrap: wrap
		margin: 0 -5px
	&__trigger
		display: inline-block
		color: #6a6a6a
		font-size: 12px
		line-height: 1
		padding: 9px 13px
		border-radius: 100px
		cursor: pointer
		user-select: none
		margin: 0 0 6px
		&--active
			background-color: #eee
			color: #282828
	&__btn
		margin: auto 0 0
	&__img
		width: 234px
		height: 100%
		+obj
.team
	&__inner
		padding: 57px
		background: url(../img/brown-circle.svg) no-repeat right -75px top -75px, linear-gradient(to top, transparent 184px,#F9F9F9 184px)
	&__head
		margin: 0 0 22px
		&:last-child
			margin-bottom: 0
	&__nav
		+unlist
		display: flex
		align-items: flex-end
		flex-wrap: wrap
		justify-content: center
		font-size: 20px
		line-height: 1.3
		margin: 0 0 50px
		&:last-child
			margin-bottom: 0
		>li
			display: inline-block
			position: relative
			padding: 1.1em .75em
			cursor: pointer
			user-select: none
			transition: all .3s ease
			&:before
				content: ''
				display: block
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				border-bottom: 4px solid transparent
			&.active
				color: $green
				&:before
					border-color: $green
			
	&__box
		margin: 0 -13px
		justify-content: center
.person
	text-align: center
	&__img
		display: block
		width: 100%
	&__text
		max-width: 282px
		margin: -30px auto 0
		background-color: #fff
		border-radius: 6px
		padding: 30px
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805)
		position: relative
		z-index: 1
		color: #282828
		&:first-child
			margin-top: 0
		&:before
			content: ''
			display: block
			position: absolute
			top: 7px
			left: 7px
			width: calc(100% - 14px)
			height: calc(100% - 14px)
			border: 1px solid transparentize(#4D9757,.9)
			pointer-events: none
			border-radius: inherit
		h4
			font: inherit
			font-weight: bold
			color: $green
			margin: 0 0 3/16*1em
			&:last-child
				margin-bottom: 0
			
	&__btn
		padding-left: 27px
		padding-right: 27px
.faq
	position: relative
	padding: 50px 0 60px
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		z-index: -1
		height: 100%
		width: calc(50% + 250px)
		background: url(../img/green-circle.svg) no-repeat right -77px bottom -77px #F9F9F9
		pointer-events: none
	&__wrapper
		display: flex
		align-items: start
	&__text
		width: 600px
		max-width: 100%
	&__head
		margin: 0 0 33px
		&:last-child
			margin-bottom: 0
	&__body
		counter-reset: faq
	&__item
		background-color: #fff
		border-radius: 5px
		overflow: hidden
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805)
		margin: 0 0 15px
		color: #000
		padding-left: 57.5px
		position: relative
		&:last-child
			margin-bottom: 0
	&__question
		cursor: pointer
		counter-increment: faq
		padding: 21px 75px 21px 20px
		user-select: none		
		&:before
			content: counter(faq,decimal-leading-zero)
			display: block
			font: normal 300 16px/63px Oswald,sans-serif
			color: $green
			position: absolute
			left: 0
			top: 0
			height: 100%
			text-align: center
			width: 57.5px
			border-right: 1px solid #ECECEC
		&:after
			content: '\f107'
			display: inline-block
			color: $green
			font: normal normal 24px/1 "Font Awesome 5 Pro"
			position: absolute
			top: 20px
			right: 20px
			pointer-events: none
			transition: all .3s ease
		&--active
			&:after
				transform: rotate(180deg)
	&__answer
		padding: 0 21px 31px
		display: none
		
	&__person
		width: 427px
		flex: 0 0 auto
		margin: -20px -40px 0 auto
.review
	background-color: #F9F9F9
	width: 900px
	max-width: 100%
	display: flex
	align-items: flex-start
	margin: 0 0 20px
	padding: 30px 70px 70px 30px
	&.slick-slide
		display: flex
		margin: 0 30px 0 0
	&__pic
		display: block
		width: 287px
		flex: 0 0 auto
		box-shadow: 0 6px 6px rgba(0,0,0,.3)
		margin: 0 40px 0 0
		img
			display: block
			width: 100%
	&__text
		flex: 1 1 auto
	&__author
		display: flex
		align-items: center
		margin: 0 0 12px
		&-photo
			width: 90px
			height: 90px
			+obj
			flex: 0 0 auto
			border-radius: 50%
			margin: 0 10px 0 0
		&-text
			flex: 1 1 auto
			color: #6a6a6a
			h4
				margin: 0
				color: #282828
.reviews
	padding: 50px 0 80px
	background: url(../img/brown-circle.svg) no-repeat left calc(50% - 540px) bottom 42px/90px auto
	&__head
		margin: 0 0 30px
		display: flex
		align-items: flex-end
	&__text
		flex: 1 1 auto
	&__nav
		flex: 0 0 auto
		&:empty
			display: none
	&__slider
		padding: 0 calc(50% - 542.5px)
		&.slick-initialized
			padding-right: 0
	&__arrow
		margin-left: 14px	
.doc-card
	display: flex
	margin: 0 10px 20px
	position: relative
	border-radius: 5px
	overflow: hidden
	background-color: #fff
	width: calc(50% - 20px)
	box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.0676901)
	&__link
		+pos
		z-index: 1
	&__pic
		width: 97px
		flex: 0 0 auto
		position: relative
		&:before
			content: ''
			+pos
			background: url(../img/grid.svg)			
		&:after
			content: ''
			font: normal 300 36px/1 "Font Awesome 5 Pro"
			color: transparent
			display: inline-block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)			
		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			object-position: left top
	&__main
		flex: 1 1 auto
		padding: 17px 27px
		display: flex
		flex-direction: column
	&__text
		margin: 0 0 50px
		position: relative
		z-index: 2
		color: #6A6A6A
		&:last-child
			margin-bottom: 0
		h4
			color: #282828
			margin: 0 0 9/20*1em
			&:last-child
				margin-bottom: 0
	&__info
		margin: auto 0 0
		color: #bbb
		i
			color: $green
.docs	
	&__inner
		padding: 60px
		background: url(../img/green-circle.svg) no-repeat right -75px top -80px, linear-gradient(to bottom,#F9F9F9 calc(100% - 140px),transparent calc(100% - 140px))
	&__head
		margin: 0 0 20px
		&:last-child
			margin-bottom: 0
	&__nav
		+unlist
		font-size: 20px
		line-height: 1.3
		box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.0591674)
		display: flex
		flex-wrap: wrap
		justify-content: center
		width: max-content
		max-width: 100%
		margin: 0 auto 50px
		padding: 0 70px
		/*по вертикали с запасом под тень*/ 
		clip-path: polygon(0 -20px, 100% -20px, 100% calc(100% + 20px), 0 calc(100% + 20px))
		&:last-child
			margin-bottom: 0		
		>li
			display: inline-block
			position: relative
			padding: 1.1em .75em
			cursor: pointer
			user-select: none
			transition: all .3s ease
			&:before
				content: ''
				display: block
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				border-bottom: 4px solid transparent
			&.active
				color: $green
				&:before
					border-color: $green
.contacts
	position: relative
	padding: 65px 0
	&__map
		background-color: #ddd
		+pos
	&__wrapper
		position: relative
		z-index: 1
	&__text
		background-color: #fff
		border-radius: 5px
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805)
		width: 400px
		max-width: 100%
		position: relative
		padding: 34px 40px 50px
		&:after
			content: ''
			display: block
			position: absolute
			top: 100%
			left: 17px
			width: calc(100% - 34px)
			height: 14px
			border-radius: 0 0 5px 5px
			background-color: #FAFAF9
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805)
			z-index: -1
	&__title
		color: $green
		line-height: 1
	&__item
		display: flex
		align-items: flex-start
		padding: 12.5px 0 15px
		border-bottom: 1px solid transparentize($green,.85)
		&:first-child
			padding-top: 0
		&-icon
			font-size: 18px
			color: $green
			flex: 0 0 auto
			margin: 0 14px 0 0
		&-text
			flex: 1 1 auto
			font-weight: bold
		&-title
			font-size: 12/16*1em
			line-height: normal
			color: #6A6A6A
			font-weight: 400
			margin: 0 0 .5em
	&__btn
		margin: 20px 0 0
.advantages
	padding: 40px 0
	&__inner
		background-color: #F9F9F9
	&__box
		margin: 0
	&__item
		padding: 40px 20px 16px
		text-align: center
		width: 180px
		line-height: 19/16*1
		color: #282828
		&-pic
			position: relative
			height: 72px
			margin: 0 0 20px
			img
				max-height: 100%
				+obj
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
.footer
	background-color: #353535
	color: #fff
	padding: 33px 0 57px
	text-align: center
	&__wrapper
		display: flex
		flex-direction: column
		align-items: center
	&__phone
		display: inline-block
		font: normal 300 36px/1.6 Oswald,sans-serif
		color: inherit
		margin: 0 0 10px
		&:last-child
			margin-bottom: 0
	&__btn
		margin: 0 0 34px
		&:last-child
			margin-bottom: 0

/*АДАПТИВ*/
@import "adaptive"