@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body {
  margin: 0;
  padding: 0 0 0 152px;
  min-height: 100vh;
  min-height: var(--w-height);
  font: normal normal 16px/1.3125 Ubuntu, sans-serif;
  color: #494949;
}

img,
iframe,
video {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a img {
  border: none;
}

a {
  color: #4D9757;
  text-decoration: none;
}

p {
  margin: 0 0 0.9375em;
}
p:last-child {
  margin: 0;
}

blockquote {
  margin: 1.2272727273em 0 1em;
  font-size: 22px;
  line-height: 1.3181818182;
  font-style: italic;
  padding: 0 0 0 80px;
  position: relative;
}
blockquote:last-child {
  margin-bottom: 0;
}
blockquote:first-child {
  margin-top: 0;
}
blockquote:before {
  content: "„";
  display: inline-block;
  pointer-events: none;
  font: normal 300 180px/1 Oswald, sans-serif;
  color: #51B05E;
  position: absolute;
  bottom: calc(100% - 0.21em);
  left: 0;
}
blockquote p {
  margin: 0 0 0.4545454545em;
}
blockquote p:last-child {
  margin-bottom: 0;
}

*:focus {
  outline: none;
}

*:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*элементы форм */
input, textarea, button, select {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

.field {
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  margin: 0 0 15px;
}
.field:last-child {
  margin-bottom: 0;
}
.field__input, .field__select {
  margin: 0;
}
.field__placeholder {
  font-size: 16px;
  color: #000;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 21px;
  left: 25px;
  width: calc(100% - 50px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}
.field__input:focus + .field__placeholder, .field--fill .field__placeholder {
  font-size: 11px;
  top: 4px;
}
.field__description {
  display: block;
  font-size: 14px;
  line-height: normal;
  color: #ADADAD;
  padding: 4px 25px;
}

/*кнопки */
button,
[type=submit],
[type=reset],
[type=image] {
  cursor: pointer;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  vertical-align: top;
  background: -webkit-gradient(linear, left top, left bottom, from(#E2CA71), to(#C6A238));
  background: linear-gradient(180deg, #E2CA71 0%, #C6A238 100%);
  font: normal 500 16px/1.5 Ubuntu, sans-serif;
  padding: 24px 50px;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.246449);
  text-transform: uppercase;
  border-radius: 100px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0px 3px 0px #967B12;
          box-shadow: 0px 3px 0px #967B12;
}
.btn--small {
  background: #51B05E;
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: 400;
  text-transform: none;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 12px;
}
.btn--thin {
  border: 3px solid #4D9757;
  color: inherit;
  background: none;
  padding: 12px 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}
.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn--block {
  display: block;
  width: 100%;
  padding-left: 7px;
  padding-right: 7px;
}
.btn--question:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1.3571428571em;
  line-height: 0.76;
  font-weight: 400;
  color: #4D9757;
  vertical-align: text-top;
  margin-right: 0.6315789474em;
  margin-left: -0.2631578947em;
}
.btn--envelope:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 1.3571428571em;
  line-height: 0.76;
  font-weight: 400;
  color: #4D9757;
  vertical-align: -0.1em;
  margin-right: 0.6315789474em;
  margin-left: -0.2631578947em;
}

/*заголовки */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
}

h1, h2 {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 48px;
}
h1 b, h1 strong, h2 b, h2 strong {
  font-weight: inherit;
  color: #4D9757;
}

h1 {
  line-height: 1.4166666667;
  margin: 0 0 0.4166666667em;
}
h1:last-child {
  margin-bottom: 0;
}

h2 {
  line-height: 1.2083333333;
  margin: 0 0 0.3333333333em;
}
h2:last-child {
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
  line-height: 1.3333333333;
  margin: 0 0 4px;
  font-weight: inherit;
}
h3:last-child {
  margin-bottom: 0;
}

h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: inherit;
  margin: 0 0 0.85em;
}
h4:last-child {
  margin-bottom: 0;
}

h5 {
  font-size: 12px;
  line-height: 1.75;
  font-weight: inherit;
  margin: 0;
}

/*списки */
ul, ol {
  margin: 0 0 1em;
}
ul:last-child, ol:last-child {
  margin-bottom: 0;
}

ul {
  list-style-image: url(../img/icons/list-marker.svg);
  padding-left: 1.3em;
}
ul > li {
  margin: 0 0 1em;
}
ul > li:last-child {
  margin-bottom: 0;
}

/*таблицы */
/*контейнеры */
.wrapper {
  max-width: 1215px;
  padding: 0 65px;
  margin: 0 auto;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

/*элементы слайдера */
.slick-arrow {
  display: inline-block;
  vertical-align: top;
  width: 52px;
  height: 52px;
  border: 3px solid #4D9757;
  border-radius: 50%;
  color: #000;
  text-align: center;
  line-height: 46px;
  font-size: 26px;
  cursor: pointer;
}

/*ОСНОВНОЕ СОДЕРЖИМОЕ */
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 152px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  color: #000;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.header__logo {
  padding: 12px 15px 18px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font: normal bold 18px/1.25 Oswald, sans-serif;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu > li {
  margin: 0;
}
.header__menu > li > a {
  display: block;
  color: inherit;
  padding: 12px 15px;
}
.header__contacts {
  padding: 14px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}
.header__phone {
  color: inherit;
  font-size: 18px;
  font-family: Oswald;
}
.header__phone--mobile {
  display: none;
}
.header__status {
  font-size: 12px;
  margin: 7px 0;
}
.header__status:before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #51B05E;
  margin: 0 0.5em 0 0;
}
.header__auth {
  padding: 22px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 1.1666666667;
}
.header__auth-icon {
  display: block;
  color: #4D9757;
  font-size: 28px;
  margin: 0 0 8px;
}
.header__auth-title {
  font: normal bold 12px/1.42 Montserrat, sans-serif;
  text-transform: uppercase;
  color: #282828;
  margin: 0 0 8px;
}
.header__auth-title:last-child {
  margin-bottom: 0;
}

.link-banner {
  display: block;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.115111);
          box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.115111);
  position: relative;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #191919;
}
.link-banner:before {
  content: "";
  display: block;
  border: 1px solid #D7BD62;
  border-radius: inherit;
  position: absolute;
  top: 7px;
  left: 7px;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  pointer-events: none;
}
.link-banner__img {
  width: 78px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 14px 0 0;
}
.link-banner__text {
  display: block;
  width: calc(100% - 92px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-block {
  min-height: 100vh;
  min-height: var(--w-height);
  padding: 100px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.top-block__wrapper {
  width: 100%;
  margin: auto 0;
}
.top-block__text {
  max-width: 770px;
  padding-left: 90px;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 77px;
}
.top-block__text:last-child {
  margin-bottom: 0;
}
.top-block__text h1 {
  text-transform: uppercase;
}
.top-block__text ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2.15em;
}
.top-block__text ul > li {
  margin: 0;
}
.top-block__text ul > li {
  position: relative;
  margin: 0 0 0.8em;
}
.top-block__text ul > li:last-child {
  margin-bottom: 0;
}
.top-block__text ul > li:before {
  content: url(../img/icons/checkbox.svg);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -2.15em;
}
.top-block__footer {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: calc(100% - 90px);
  text-align: center;
  margin-left: 90px;
}
.top-block__btn {
  margin: 0 0 14px;
}
.top-block__btn:last-child {
  margin-bottom: 0;
}
.top-block__banner {
  position: absolute;
  bottom: 0;
  right: 67px;
  width: 417px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.info {
  padding: 70px 0;
  margin: 0 0 80px;
  background: linear-gradient(to right, #f9f9f9 calc(50% + 300px), transparent calc(50% + 300px));
}
.info:last-child {
  margin-bottom: 0;
}
.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__text {
  -ms-flex-preferred-size: 540px;
      flex-basis: 540px;
  margin-right: 30px;
}
.info__img {
  -ms-flex-preferred-size: 451px;
      flex-basis: 451px;
}

.infographics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}
.infographics__item {
  width: 240px;
  margin: 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
}
.infographics__img {
  margin: 0 17px 0 0;
}

.service-card {
  width: calc(50% - 20px);
  margin: 0 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  border: 1px solid rgba(77, 151, 87, 0.2);
  border-radius: 5px;
  padding: 36px 28px 30px;
  color: #282828;
}
.service-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.service-card__img {
  width: 128px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 14px 0 0;
}
.service-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.service-card__text h4 {
  font-weight: bold;
  margin: 0 0 0.4em;
}
.service-card__text h4:last-child {
  margin-bottom: 0;
}
.service-card__content {
  position: relative;
  z-index: 1;
  line-height: 1.5;
}
.service-card__pseudo-link {
  display: inline-block;
  vertical-align: top;
  color: #4D9757;
  text-transform: uppercase;
  border-bottom: 1px dashed;
  pointer-events: none;
  margin: 37px 0 0;
  font-family: Oswald;
  font-weight: 400;
  letter-spacing: 0.04375em;
}

.services {
  padding: 60px 0 80px;
}
.services__head {
  margin: 0 0 30px;
}
.services__head:last-child {
  margin-bottom: 0;
}

.about {
  padding: 66px 0 77px;
  background: url(../img/swamp-circle.svg) no-repeat right -75px top -80px, linear-gradient(to right, transparent calc(50% - 334px), #F9F9F9 calc(50% - 334px));
  margin: 0 0 80px;
}
.about:last-child {
  margin-bottom: 0;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__img {
  width: 451px;
}
.about__text {
  width: 570px;
  padding: 0 85px 0 71px;
}
.about__text h2 {
  margin: 0 0 0.2916666667em;
}
.about__text h2:last-child {
  margin-bottom: 0;
}

.step-card {
  margin: 0 7px 14px;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative;
  width: 352px;
  padding: 27px 16px 29px 136px;
  border-radius: 5px;
}
.step-card--right-image {
  padding-left: 40px;
  padding-right: 112px;
}
.step-card__img {
  position: absolute;
  right: 215px;
  top: 50%;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.step-card__img--left-bottom {
  bottom: 0;
  top: auto;
  -webkit-transform: none;
          transform: none;
}
.step-card__img--right {
  right: auto;
  left: 197px;
}
.step-card__img--right-bottom {
  left: 195px;
  right: auto;
  top: auto;
  bottom: -32px;
  -webkit-transform: none;
          transform: none;
}
.step-card__index {
  font: normal 300 48px/1.21 Oswald, sans-serif;
  margin: 0 0 0.3541666667em;
}
.step-card__index:last-child {
  margin-bottom: 0;
}
.step-card h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0.35em;
}
.step-card h4:last-child {
  margin-bottom: 0;
}

.info-card {
  margin: 0 7px 14px;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative;
  width: 352px;
  padding: 55px 16px 40px;
  border-radius: 5px;
  text-align: center;
}
.info-card:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: inherit;
  pointer-events: none;
}

.scheme {
  background-color: #4D9757;
  color: #fff;
  padding: 55px 0;
  margin: 0 0 80px;
}
.scheme:last-child {
  margin-bottom: 0;
}
.scheme__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px;
}
.scheme__head:last-child {
  margin-bottom: 0;
}
.scheme__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 620px;
          flex: 0 1 620px;
  padding-right: 10px;
}
.scheme__box {
  margin: 0 -7px;
}

.person-card {
  margin: 0 13px 55px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0644121);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0644121);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #282828;
}
.person-card__main {
  width: 304px;
  padding: 26px 23px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.person-card__main h5 {
  color: #6a6a6a;
}
.person-card__main p {
  margin: 0 0 0.3125em;
}
.person-card__main p:last-child {
  margin-bottom: 0;
}
.person-card__text {
  margin: 0 0 46px;
}
.person-card__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}
.person-card__trigger {
  display: inline-block;
  color: #6a6a6a;
  font-size: 12px;
  line-height: 1;
  padding: 9px 13px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 0 6px;
}
.person-card__trigger--active {
  background-color: #eee;
  color: #282828;
}
.person-card__btn {
  margin: auto 0 0;
}
.person-card__img {
  width: 234px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.team__inner {
  padding: 57px;
  background: url(../img/brown-circle.svg) no-repeat right -75px top -75px, linear-gradient(to top, transparent 184px, #F9F9F9 184px);
}
.team__head {
  margin: 0 0 22px;
}
.team__head:last-child {
  margin-bottom: 0;
}
.team__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 50px;
}
.team__nav > li {
  margin: 0;
}
.team__nav:last-child {
  margin-bottom: 0;
}
.team__nav > li {
  display: inline-block;
  position: relative;
  padding: 1.1em 0.75em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team__nav > li:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid transparent;
}
.team__nav > li.active {
  color: #4D9757;
}
.team__nav > li.active:before {
  border-color: #4D9757;
}
.team__box {
  margin: 0 -13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.person {
  text-align: center;
}
.person__img {
  display: block;
  width: 100%;
}
.person__text {
  max-width: 282px;
  margin: -30px auto 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
  position: relative;
  z-index: 1;
  color: #282828;
}
.person__text:first-child {
  margin-top: 0;
}
.person__text:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  border: 1px solid rgba(77, 151, 87, 0.1);
  pointer-events: none;
  border-radius: inherit;
}
.person__text h4 {
  font: inherit;
  font-weight: bold;
  color: #4D9757;
  margin: 0 0 0.1875em;
}
.person__text h4:last-child {
  margin-bottom: 0;
}
.person__btn {
  padding-left: 27px;
  padding-right: 27px;
}

.faq {
  position: relative;
  padding: 50px 0 60px;
}
.faq:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: calc(50% + 250px);
  background: url(../img/green-circle.svg) no-repeat right -77px bottom -77px #F9F9F9;
  pointer-events: none;
}
.faq__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.faq__text {
  width: 600px;
  max-width: 100%;
}
.faq__head {
  margin: 0 0 33px;
}
.faq__head:last-child {
  margin-bottom: 0;
}
.faq__body {
  counter-reset: faq;
}
.faq__item {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
  margin: 0 0 15px;
  color: #000;
  padding-left: 57.5px;
  position: relative;
}
.faq__item:last-child {
  margin-bottom: 0;
}
.faq__question {
  cursor: pointer;
  counter-increment: faq;
  padding: 21px 75px 21px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.faq__question:before {
  content: counter(faq,decimal-leading-zero);
  display: block;
  font: normal 300 16px/63px Oswald, sans-serif;
  color: #4D9757;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  text-align: center;
  width: 57.5px;
  border-right: 1px solid #ECECEC;
}
.faq__question:after {
  content: "";
  display: inline-block;
  color: #4D9757;
  font: normal normal 24px/1 "Font Awesome 5 Pro";
  position: absolute;
  top: 20px;
  right: 20px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq__question--active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.faq__answer {
  padding: 0 21px 31px;
  display: none;
}
.faq__person {
  width: 427px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: -20px -40px 0 auto;
}

.review {
  background-color: #F9F9F9;
  width: 900px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 20px;
  padding: 30px 70px 70px 30px;
}
.review.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 0;
}
.review__pic {
  display: block;
  width: 287px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  margin: 0 40px 0 0;
}
.review__pic img {
  display: block;
  width: 100%;
}
.review__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.review__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 12px;
}
.review__author-photo {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.review__author-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #6a6a6a;
}
.review__author-text h4 {
  margin: 0;
  color: #282828;
}

.reviews {
  padding: 50px 0 80px;
  background: url(../img/brown-circle.svg) no-repeat left calc(50% - 540px) bottom 42px/90px auto;
}
.reviews__head {
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.reviews__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.reviews__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.reviews__nav:empty {
  display: none;
}
.reviews__slider {
  padding: 0 calc(50% - 542.5px);
}
.reviews__slider.slick-initialized {
  padding-right: 0;
}
.reviews__arrow {
  margin-left: 14px;
}

.doc-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 20px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  width: calc(50% - 20px);
  -webkit-box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.0676901);
          box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.0676901);
}
.doc-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.doc-card__pic {
  width: 97px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}
.doc-card__pic:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/grid.svg);
}
.doc-card__pic:after {
  content: "";
  font: normal 300 36px/1 "Font Awesome 5 Pro";
  color: transparent;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.doc-card__pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
}
.doc-card__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 17px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.doc-card__text {
  margin: 0 0 50px;
  position: relative;
  z-index: 2;
  color: #6A6A6A;
}
.doc-card__text:last-child {
  margin-bottom: 0;
}
.doc-card__text h4 {
  color: #282828;
  margin: 0 0 0.45em;
}
.doc-card__text h4:last-child {
  margin-bottom: 0;
}
.doc-card__info {
  margin: auto 0 0;
  color: #bbb;
}
.doc-card__info i {
  color: #4D9757;
}

.docs__inner {
  padding: 60px;
  background: url(../img/green-circle.svg) no-repeat right -75px top -80px, linear-gradient(to bottom, #F9F9F9 calc(100% - 140px), transparent calc(100% - 140px));
}
.docs__head {
  margin: 0 0 20px;
}
.docs__head:last-child {
  margin-bottom: 0;
}
.docs__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
  -webkit-box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.0591674);
          box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.0591674);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 0 auto 50px;
  padding: 0 70px;
  /*по вертикали с запасом под тень */
  -webkit-clip-path: polygon(0 -20px, 100% -20px, 100% calc(100% + 20px), 0 calc(100% + 20px));
          clip-path: polygon(0 -20px, 100% -20px, 100% calc(100% + 20px), 0 calc(100% + 20px));
}
.docs__nav > li {
  margin: 0;
}
.docs__nav:last-child {
  margin-bottom: 0;
}
.docs__nav > li {
  display: inline-block;
  position: relative;
  padding: 1.1em 0.75em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.docs__nav > li:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid transparent;
}
.docs__nav > li.active {
  color: #4D9757;
}
.docs__nav > li.active:before {
  border-color: #4D9757;
}

.contacts {
  position: relative;
  padding: 65px 0;
}
.contacts__map {
  background-color: #ddd;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacts__wrapper {
  position: relative;
  z-index: 1;
}
.contacts__text {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
  width: 400px;
  max-width: 100%;
  position: relative;
  padding: 34px 40px 50px;
}
.contacts__text:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 17px;
  width: calc(100% - 34px);
  height: 14px;
  border-radius: 0 0 5px 5px;
  background-color: #FAFAF9;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0843805);
  z-index: -1;
}
.contacts__title {
  color: #4D9757;
  line-height: 1;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12.5px 0 15px;
  border-bottom: 1px solid rgba(77, 151, 87, 0.15);
}
.contacts__item:first-child {
  padding-top: 0;
}
.contacts__item-icon {
  font-size: 18px;
  color: #4D9757;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 14px 0 0;
}
.contacts__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: bold;
}
.contacts__item-title {
  font-size: 0.75em;
  line-height: normal;
  color: #6A6A6A;
  font-weight: 400;
  margin: 0 0 0.5em;
}
.contacts__btn {
  margin: 20px 0 0;
}

.advantages {
  padding: 40px 0;
}
.advantages__inner {
  background-color: #F9F9F9;
}
.advantages__box {
  margin: 0;
}
.advantages__item {
  padding: 40px 20px 16px;
  text-align: center;
  width: 180px;
  line-height: 1.1875;
  color: #282828;
}
.advantages__item-pic {
  position: relative;
  height: 72px;
  margin: 0 0 20px;
}
.advantages__item-pic img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 33px 0 57px;
  text-align: center;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__phone {
  display: inline-block;
  font: normal 300 36px/1.6 Oswald, sans-serif;
  color: inherit;
  margin: 0 0 10px;
}
.footer__phone:last-child {
  margin-bottom: 0;
}
.footer__btn {
  margin: 0 0 34px;
}
.footer__btn:last-child {
  margin-bottom: 0;
}

/*АДАПТИВ */
@media(min-width: 992px) {
  .btn {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-144.43%, #E2CA71), color-stop(38.55%, #C6A238));
    background: linear-gradient(180deg, #E2CA71 -144.43%, #C6A238 38.55%);
  }
  .btn--small:hover {
    background: #3D9349;
  }
  .btn--thin:hover {
    background: #4D9757;
    color: #fff;
  }
  .btn--thin:hover:before {
    color: inherit;
  }
  .btn--white:hover {
    background-color: #fff;
    color: #4D9757;
  }

  .doc-card__pic {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .doc-card__pic:before, .doc-card__pic:after {
    -webkit-transition: inherit;
    transition: inherit;
  }
  .doc-card:hover .doc-card__pic:before {
    background-color: rgba(77, 151, 87, 0.7);
  }
  .doc-card:hover .doc-card__pic:after {
    color: #fff;
  }
}
@media(max-width:1199px) {
  .wrapper {
    max-width: 992px;
  }
}
@media(max-width:991px);
